header {
  background-color: #1E1E1E;
  
height: 10vh;
  
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 99999;
}
header img {
  width: 128px;
}
header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
}
.icon{
  color: #FFFFFF;
}
header a:hover {
  color: #27ae60;
}



  
